@media (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 1rem 2rem;
    }

    .header-icon {
        margin: 0;
    }

    #hamburger {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background: none;
        padding: 0;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 2rem;
        gap: 2rem;
    }

    nav ul {
        gap: 2rem;
    }

    .directory-controls {
        justify-content: flex-end;
        padding-right: 2rem;
    }

    #directory {
        padding: 2rem;
        margin: 0 auto;
        max-width: 1200px;
    }

    .card {
        padding: 1.5rem;
    }

    .list .card img {
        width: 140px;
    }
}