@media (min-width: 700px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: left;
        padding: 1rem 2rem;
    }

    .header-icon {
        margin: 0;
    }

    #hamburger {
        display: none;
    }

    #menu {
        display: flex;
    }

    nav {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        background: none;
        padding: 0;
    }

    .grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding: 2rem;
        gap: 2rem;
    }

    nav ul {
        gap: 2rem;
    }

    .directory-controls {
        justify-content: flex-end;
        padding-right: 2rem;
    }

    #directory {
        padding: 2rem;
        margin: 0 auto;
        max-width: 1200px;
    }

    .card {
        padding: 1.5rem;
    }

    .list .card img {
        width: 140px;
    }

    footer {
        color: var(--light);
    }

    .home-grid {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px;
        margin: 0 auto;
    }

    .hero img {
        height: 400px;
        object-fit: cover;
    }

    .join-btn {
        bottom: 2rem;
        right: 2rem;
        font-size: 1rem;
    }

    .join {
        grid-template-columns: 2fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem;
        gap: 2rem;
    }

    .join-form,
    .join-info {
        padding: 2rem;
    }
}