@media (min-width: 768px) {
  nav {
    display: flex;
    flex-direction: row;
    gap: var(--space-l);
    position: static;
    padding: 0;
  }

  .logo {
    max-width: 220px;
  }

  .hero {
    min-height: 350px;
  }

  #menu-button {
    display: none;
  }

  header {
    padding: var(--space-l);
  }

  .hero-box {
    width: 50%;
    max-width: 500px;
    padding: var(--space-l);
  }

  main {
    max-width: 1000px;
    margin: 0 auto;
  }

  section {
    padding: var(--space-l) 0;
  }

  .about-content {
    grid-template-columns: 300px 1fr;
    align-items: start;
  }

  .about-content img {
    margin: 0;
  }

  .about-text {
    padding-left: 2rem;
  }



}